{% extends 'base.html' %}
{% block content %}
    <h1>Cadastro</h1>
    <form action ="" method="post">
        <div>
            <label for="username">Usuário: </label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Senha: </label>
            <input type="text" name="password" required>
        </div>
        <div>
            <label for="profilepic">Foto de perfil:</label>
            <input type="url" name="profilepic">
        </div>
        <div>
            <label for="bio">Bio:</label>
            <input type="text" name="bio">
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
{% endblock %}